@import "./main.css";
@import "./avatar.css";

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.list__item {
  background-color: var(--complimentary-text-color);
  padding: 0.5rem;
  border: 1px solid;
  max-width: 50ch;
}
.list__notification {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.list--spaced {
  gap: 0.5rem;
}
