:root {
  --primary-color: #045de9;
  --light-primary-color: #09c6f9;
  --dark-primary-color: #034aba;
  --secondary-color: #343a40;
  --dark-secondary-color: #2a2e33;
  --complimentary-text-color: #f1f1f1;
}
